.App {
  text-align: center;
}

.row {
  display: flex;
  margin: 2px auto;
  justify-content: center;
}

.game-cell {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}